{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>


      <form class="form" action="under-18-answer" method="post">
        <div class="form-group">
          <fieldset class="inline">

            <legend>
              <h1 class="heading-medium">
                Are you over 18?
              </h1>
            </legend>

            <div class="multiple-choice">
              <input id="radio-inline-1" type="radio" name="under-18" value="Yes">
              <label for="radio-inline-1">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-inline-2" type="radio" name="under-18" value="No">
              <label for="radio-inline-2">No</label>
            </div>

          </fieldset>
        </div>
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
